*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: system-ui;
    height: 100vh;
    background: var(--bg);
    color: var(--text);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
a{
    color: var(--linkColor);
    text-decoration: none;
}
ul{
    list-style: square;
}
li{
    margin: 10px 0;
    color: var(--text2);
}
h1{
    font-size: 3rem;
    margin: 0;
    background: -webkit-linear-gradient(right bottom,var(--g1),var(--g2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}
.float-toggle-button{
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%,-100%);
}
.float-toggle-button button{ 
    color: var(--text2);
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background: var(--bg2);
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}
.float-toggle-button button:hover{ 
    opacity: 1;
}